<!DOCTYPE HTML>
<html>
<head>
    <title>LA HACKS | The Hackathon of the West Coast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta name="description" content="West Coast biggest collegiate hackathon!">
    <meta name="author" content=""> 
  	<script src="js/jquery-1.7.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="https://s3-us-west-1.amazonaws.com/lahacks/mainLogoUpdated.png"  />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="js/index.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">    
    <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/lahacks/favicon.png">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->      

  <meta property="og:image" content="https://s3-us-west-1.amazonaws.com/lahacks/mainLogoUpdated.png">

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224564894267150";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
          	<a class="brand scroller" data-section="html" href="index.html"><img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/smallLogo.png"> LA HACKS </a>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#" class="scroller" data-section="#about">INFORMATION</a></li>
                    <li><a href="#" class="scroller" data-section="#sponsors">SPONSORS</a></li>
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- end Navbar -->
    
    
    <!-- #intro -->
	<div class="main-container">
		<div class="container-fluid" id="intro">	
			<div class="containerIntro">
				<div class = "thumbnail">
					<img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/mainLogoUpdated.png">
				</div>
				<div class="row span6 center">
						<br/>
						<h1> April 11-13 </h1>
						<br/>
				</div>
                <div id="signup-container"> 
                    <form method="post" action="/subscribe" id="signup">
                        <div class="row">
                            <div class="span5">
                                <input type="email" placeholder="Email" value="" name="email" class="signForm">
                            </div>
                            <div class="span1">
                                <input type="submit" value="Register" name="sign up" class="signUpButton">
                            </div>
                        </div>
                    </form>
					<div class ="fbclass center">
					    <div class="fb-like" data-href="https://www.facebook.com/LAHacks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					    <a href="https://twitter.com/LAHacks" class="twitter-follow-button" data-show-count="false">Follow @LAHacks</a>
					</div>
				</div>
				<div id="signup-finished" class="hidden">
					<div class="span 5 center">
						<h3>Got it! We'll be in touch soon!</h3>
					</div>
					<div class ="fbclass2">
					    <div class="fb-like" data-href="https://www.facebook.com/LAHacks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					    <a href="https://twitter.com/LAHacks" class="twitter-follow-button" data-show-count="false">Follow @LAHacks</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- ends Intro -->

     <!-- #about -->
<div class="container-fluid" id="about">
	<div class="container light">
		<ul class="span12">
		   <h3> Want to organize a bus from your school? <a href="mailto:travel@lahacks.com">Contact us!</a></h3>
		</ul>

		<h1>Information</h1>
		<ul class="thumbnails">
		  <li class="span3">
		    <div class="thumbnail">
		      <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/clock.png">
		      <h3>36 Hour Competition</h3>
		      <p>We'll provide all your meals, snacks, caffeine, swag and sleeping spaces.</p>
		    </div>
		  </li>
		
		  <li class="span3">
		    <div class="thumbnail">
		      <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/plane.png">
		      <h3>Free Transportation</h3>
		      <p>For all participating colleges in the west coast.</p>
		    </div>
		  </li>
		  
		  <li class="span3">
		    <div class="thumbnail">
		       <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/award.png">
		      <h3>$20,000+ in CASH Prizes</h3>
		      <p>Also exposure to investors. This is your opportunity to bring your ideas to life!</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		       <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/person.png">
		      <h3>1200+ <br>Hackers</br></h3>
		      <p>Be a part of the West Coast's biggest collegiate hackathon ever!</p>
		    </div>
		  </li>
		</ul>
	</div>
	<hr>
	<div class="container light">
		<h1>FAQ</h1>
		<ul class="thumbnails">
	<!-- BEGIN SECOND ROW -->		
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>What is a hackathon?</h4>
		      <h5>LA Hacks is a student competition to build the most exciting technology products within 36 hours. Products are then judged by professionals in the tech industry. Check out <a href="https://medium.com/hackathons-anonymous/92668579601">this blog post</a> by hackathon-expert Dave Fontenot to learn more. </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>Who can attend?</h4>
		      <h5>LA Hacks focuses primarily on undergraduate students but accepts high school students on a case-by-case basis. </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>How much does it cost to attend?</h4>
		      <h5>Admission is free for hackers, NO “STRINGS” ATTACHED! (You’ll get that on the bus ride over).That includes food and drinks for the duration of the hackathon including transportation for those taking LA Hacks sponsored busses. These busses will be picking you up from a designated spot at your school and dropping you back off at the end of the event. We will be reimbursing each chosen applicants flying in from out-of-state $200. We do not cover hotel costs.  </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>What can my team build?</h4>
		      <h5>Whatever computer-related projects your mind can come up with! Web, desktop, mobile, and hardware projects are all welcome. Projects will be judged based on creativity, technical difficulty, polish, and usefulness. </h5>
		    </div>
		  </li>
	<!-- END SECOND ROW -->
	<!-- BEGIN THIRD ROW -->
		  <li class="span12">
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>How big are teams?</h4>
		      <h5>Teams should be at most 4 people total. You can compete alone, but that’s a lot less fun. We'll have a site up to help find teams before the event, and you'll have time at the start to meet others to join teams. </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>Are we allowed to build on past projects or code?</h4>
		      <h5>No. All hacks must begin at the event with no prior code written. Using third-party APIs and libraries is definitely okay, as long as they're accessible by everyone else as well. Our judges are experts, they know what’s possible in 36 hours.  </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>What should I bring?</h4>
		      <h5>All attendees are required to bring their valid student ID for admission (name must match Eventbrite registration) and a laptop for hacking (which includes charger and all). If you want to do a hardware hack, don't forget to bring the devices you plan on working with. Additionally, bring sleeping (if you can’t hang) and toiletry materials. </h5>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		      <h4>How do I officially register?</h4>
		      <h5>For now, put in your email above. We will be having EventBrite registrations soon which will be the official tickets in the door.</h5>
		    </div>
		  </li>
		  </li>
		
		</ul>
	<hr>
</div>

<div class="container-fluid" id="sponsors">
		<div class="container light">
		
			<h1>Previous Sponsors</h1>

		<div class="span12 center">
		<h3>Interested in sponsoring? <a href="mailto:sponsor@lahacks.com">Email us.</a></h3>
		</div>
     	
     	<a class="sponsor major" target="_blank" href="http://google.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/google.jpg) "></a>
     	<a class="sponsor major" target="_blank" href="http://facebook.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/facebook.jpeg) "></a>
     	<a class="sponsor major" target="_blank" href="http://paypal.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/pp.jpg) "></a>
     	<a class="sponsor major" target="_blank" href="http://palantir.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/palantir.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://greylock.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/greylock.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://yahoo.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/yahoo.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://quixey.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/quixey.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://mailchimp.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/mailchimp.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://muckerlab.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/muckerlabs.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://lyft.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/lyft.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://scopely.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/scopely.jpeg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://showkit.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/showkit.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://pluralsight.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/pluralsight.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://sendgrid.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/sendgrid.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://tokbox.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/tokbox.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://crosscampus.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/cc.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://zaarly.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/zaarly.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://nextspace.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/nextspace.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://beyondcurious.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/bc.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://peakhosting.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/peak.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://gunder.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/gd.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://readyforce.com" style="background-image:url(http://s3-us-west-1.amazonaws.com/lahacks/sponsors/rf.png) "></a>

     <div style="clear:both;"></div>
     </div>
     <hr>
</div>
     <!-- ends About -->
     
     
      <!-- #team  -->
<div class="container-fluid" id="orgPart">
	<div class="container light">
		<h1>Organized By</h1>
				<ul class="thumbnails">
				 <li class="span3">
				 </li>
				  <li class="span6">
				    <div class="thumbnail">
				      <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/sep.png">
				      <h3>Sigma Eta Pi</h3>
				      <p></p>
				    </div>
				  </li>
				<li class="span3">
				 </li>
				 
				</ul>
				<ul class="thumbnails">
				
				<h3>With Support From</h3>

				<li class="span2">
				 </li>
				  <li class="span4">
				    <div class="thumbnail">
				      <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/bruin_entrepreneurs.jpg">
				      
				    </div>
				  </li>
				  <li class="span4">
				    <div class="thumbnail">
				      <img alt="" src="http://s3-us-west-1.amazonaws.com/lahacks/mlh.png">
				      
				      <h3>Major League Hacking</h3>
				      <p></p>
				    </div>
				  </li>
				  </ul>
				
		</div>
	</div>
</div>

<script>
$(function () {
    $(window).scroll(function(){
    // global scroll to top button
        if ($(this).scrollTop() > 300) {
            $('.scrolltop').fadeIn();
        } else {
            $('.scrolltop').fadeOut();
        }        
    });
    
    // scroll nav
    $('.scroller').click(function(){
    	var section = $($(this).data("section"));
    	var top = section.offset().top-82;
        $("html, body").animate({ scrollTop: top }, 700);
        return false;
    });          
  });
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47497883-1', 'lahacks.com');
  ga('send', 'pageview');
</script>

</body>
</html>
