<!DOCTYPE HTML>
<html>
<head>
    <title>LA HACKS | The Hackathon of the West Coast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <meta name="description" content="West Coast biggest collegiate hackathon!">
    <meta name="author" content=""> 
  	<script src="js/jquery-1.7.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="image_src" href="http://lahacks.com/img/mainLogoUpdated.png"  />
    <link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="js/index.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">    
    <link rel="shortcut icon" href="img/favicon.png">

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->      

  <meta property="og:image" content="http://lahacks.com/img/mainLogoUpdated.png">

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=224564894267150";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Navbar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
    		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
          	</a>
          	<a class="brand scroller" data-section="html" href="index.html"><img alt="" src="img/smallLogo.png"> LA HACKS </a>
		  	<div class="nav-collapse collapse">
                <ul class="nav pull-right">
                  	<!--<li><a href="#" class="toggle_video">Toggle Video Demo</a></li>-->
                    <li><a href="#" class="scroller" data-section="#about">INFORMATION</a></li>
                    <li><a href="#" class="scroller" data-section="#sponsors">SPONSORS</a></li>
                    <!--
                    <li><a href="#" class="scroller" data-section="#contact">Contact us</a></li>
                    <!-- 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Example Link</a></li>
                            <li><a href="#">Example Link 2</a></li>
                            <li><a href="#">Example Link 3</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
	        </div>
        </div>
      </div>
    </div>
    <!-- end Navbar -->
    
    
    <!-- #intro -->
	<div class="main-container">
		<div class="container-fluid" id="intro">	
			<div class="containerIntro">
				<div class = "thumbnail">
					<img alt="" src="img/mainLogoUpdated.png">
				</div>
				<div class="row span6 center">
						<br/>
						<h1> April 11-13 | UCLA </h1>
						<br/>
				</div>
                <div id="signup-container"> 
                    <form method="post" action="/subscribe" id="signup">
                        <div class="row">
                            <div class="span5">
                                <input type="email" placeholder="Email" value="" name="email" class="signForm">
                            </div>
                            <div class="span1">
                                <input type="submit" value="Register" name="sign up" class="signUpButton">
                            </div>
                        </div>
                    </form>
					<div class ="fbclass center">
					    <div class="fb-like" data-href="https://www.facebook.com/LAHacks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					    <a href="https://twitter.com/LAHacks" class="twitter-follow-button" data-show-count="false">Follow @LAHacks</a>
					</div>
				</div>
				<div id="signup-finished" class="hidden">
					<div class="span 5 center">
						<h3>Got it! We'll be in touch soon!</h3>
					</div>
					<div class ="fbclass2">
					    <div class="fb-like" data-href="https://www.facebook.com/LAHacks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					    <a href="https://twitter.com/LAHacks" class="twitter-follow-button" data-show-count="false">Follow @LAHacks</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- ends Intro -->

     <!-- #about -->
<div class="container-fluid" id="about">
		<div class="container light">
			<h1>Information</h1>
		<ul class="thumbnails">
		  <li class="span3">
		    <div class="thumbnail">
		      <img alt="" src="img/clock.png">
		      <h3>36 Hour Competition</h3>
		      <p>We'll provide all your meals, snacks, caffeine, swag and sleeping spaces.</p>
		    </div>
		  </li>
		
		  <li class="span3">
		    <div class="thumbnail">
		      <img alt="" src="img/plane.png">
		      <h3>Free Transportation</h3>
		      <p>For all participating colleges in the west coast.
</p>
		    </div>
		  </li>
		  
		  <li class="span3">
		    <div class="thumbnail">
		       <img alt="" src="img/award.png">
		      <h3>$20,000+ in CASH Prizes</h3>
		      <p>Also exposure to investors. This is your opportunity to bring your ideas to life!</p>
		    </div>
		  </li>
		  <li class="span3">
		    <div class="thumbnail">
		       <img alt="" src="img/person.png">
		      <h3>1200+ <br>Hackers</br></h3>
		      <p>Be a part of the West Coast's biggest collegiate hackathon ever!</p>
		    </div>
		  </li>
		  <li class="span12">
		   <h3>Interested in organizing a bus for your school? <a href="mailto:travel@lahacks.com">Contact us!</a></h3>
		  </li>

		</ul>
	</div>
	<hr>
</div>
<div class="container-fluid" id="sponsors">
		<div class="container light">
		
			<h1>Previous Sponsors</h1>
     	
     	<a class="sponsor major" target="_blank" href="http://google.com" style="background-image:url(img/sponsors/google.jpg) "></a>
     	<a class="sponsor major" target="_blank" href="http://facebook.com" style="background-image:url(img/sponsors/facebook.jpeg) "></a>
     	<a class="sponsor major" target="_blank" href="http://paypal.com" style="background-image:url(img/sponsors/pp.jpg) "></a>
     	<a class="sponsor major" target="_blank" href="http://palantir.com" style="background-image:url(img/sponsors/palantir.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://greylock.com" style="background-image:url(img/sponsors/greylock.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://yahoo.com" style="background-image:url(img/sponsors/yahoo.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://quixey.com" style="background-image:url(img/sponsors/quixey.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://mailchimp.com" style="background-image:url(img/sponsors/mailchimp.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://muckerlab.com" style="background-image:url(img/sponsors/muckerlabs.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://lyft.com" style="background-image:url(img/sponsors/lyft.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://scopely.com" style="background-image:url(img/sponsors/scopely.jpeg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://showkit.com" style="background-image:url(img/sponsors/showkit.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://pluralsight.com" style="background-image:url(img/sponsors/pluralsight.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://sendgrid.com" style="background-image:url(img/sponsors/sendgrid.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://tokbox.com" style="background-image:url(img/sponsors/tokbox.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://crosscampus.com" style="background-image:url(img/sponsors/cc.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://zaarly.com" style="background-image:url(img/sponsors/zaarly.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://nextspace.com" style="background-image:url(img/sponsors/nextspace.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://beyondcurious.com" style="background-image:url(img/sponsors/bc.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://peakhosting.com" style="background-image:url(img/sponsors/peak.png) "></a>
     	<a class="sponsor minor" target="_blank" href="http://gunder.com" style="background-image:url(img/sponsors/gd.jpg) "></a>
     	<a class="sponsor minor" target="_blank" href="http://readyforce.com" style="background-image:url(img/sponsors/rf.png) "></a>

     <div style="clear:both;"></div>
     </div>
     <hr>
</div>
     <!-- ends About -->
     
     
      <!-- #team  -->
<div class="container-fluid" id="orgPart">
	<div class="container light">
		<h1>Organized By</h1>
				<ul class="thumbnails">
				 <li class="span3">
				 </li>
				  <li class="span6">
				    <div class="thumbnail">
				      <img alt="" src="img/sep.png">
				      <h3>Sigma Eta Pi</h3>
				      <p></p>
				    </div>
				  </li>
				<li class="span3">
				 </li>
				 
				</ul>
				<ul class="thumbnails">
				
				<h3>With Support From</h3>

				<li class="span4">
				 </li>
				 <!--
				  <li class="span2">
				    <div class="thumbnail">
				      <img alt="" src="img/hackucla.jpeg">
				      <h3>HackUCLA</h3>
				      <p></p>
				    </div>
				  </li>
				  -->
				  <li class="span4">
				    <div class="thumbnail">
				      <img alt="" src="img/bruin_entrepreneurs.jpg">
				      
				    </div>
				  </li>
				  </ul>
				  <!--
				 <ul class="thumbnails">
				  <li class="span3">
				    <div class="thumbnail">
				      <img alt="" src="img/sbla_logo.png">
				      <h3>Silicon Beach LA</h3>
				      <p></p>
				    </div>
				  </li>
				  -->

				 
		<!--
			<ul class="thumbnails">
			
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="img/sep.jpg">
			      <h3>Sigma Eta Pi</h3>
			      <!--<p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
			      <div class="social">
				      <img alt="" src="img/linkedin.png">
				      <img alt="" src="img/twitter.png">
				      <img alt="" src="img/facebook.png">
				      <img alt="" src="img/email.png">
			      </div>
			    </div>
			  </li>
			
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="img/hackucla.png">
			      <h3>HackUCLA</h3>
			      <!--<p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
			      <div class="social">
				      <img alt="" src="img/linkedin.png">
				      <img alt="" src="img/twitter.png">
				      <img alt="" src="img/facebook.png">
				      <img alt="" src="img/email.png">
			      </div>
			    </div>
			  </li>
			  
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="img/3.png">
			      <h3>Steve</h3>
			      <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
			      <div class="social">
				      <img alt="" src="img/linkedin.png">
				      <img alt="" src="img/twitter.png">
				      <img alt="" src="img/facebook.png">
				      <img alt="" src="img/email.png">
			      </div>
			    </div>
			  </li>
			
			  <li class="span3">
			    <div class="thumbnail">
			      <img alt="" src="img/4.png">
			      <h3>Michelle</h3>
			      <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate</p>
			      <div class="social">
				      <img alt="" src="img/linkedin.png"/>
				      <img alt="" src="img/twitter.png"/>
				      <img alt="" src="img/facebook.png"/>
				      <img alt="" src="img/email.png"/>
			      </div>
			    </div>
			  </li>
			  -->
			 </ul>
		</div>
	</div>
      <!-- End Team -->  
    
	
      <!-- #contact  	
<div class="container-fluid" id="contact">
		<div class="container light">
		<div class="span4 center">	
				<h2>Interested in Sponsoring?</h2>
				<address>
				  <strong>E-mail</strong><br>
				  <a href="mailto:sponsor@lahacks.com">sponsor@lahacks.com</a>
				</address>		
				<h2>Have a question?</h2>
				<address>
				  <strong>E-mail</strong><br>
				  <a href="mailto:info@lahacks.com">info@lahacks.com</a>
				</address>	
		</div>		
	</div>
</div>   <!-- End Contact -->  
	</div>

<script>
$(function () {
    $(window).scroll(function(){
    // global scroll to top button
        if ($(this).scrollTop() > 300) {
            $('.scrolltop').fadeIn();
        } else {
            $('.scrolltop').fadeOut();
        }        
    });
    
    // scroll nav
    $('.scroller').click(function(){
    	var section = $($(this).data("section"));
    	var top = section.offset().top-82;
        $("html, body").animate({ scrollTop: top }, 700);
        return false;
    });

	    	    
    // For the purpose of the demo this allows you to toggle the background between video and img
    $('.toggle_video').click(function(){
	    
	   $('#big-video-wrap').fadeToggle();
	   return false; 
	    
    });
    
	// BigVideo Setup
    var BV = new $.BigVideo({useFlashForFirefox:false});
	BV.init();
    if (Modernizr.touch) {
    	// fallback image for mobile devices
        BV.show('img/bg2.jpg');
    } else {
        /* BV.show('video/griffith.mp4',
        {ambient:true, doLoop:true, altSource:'video/frontier.ogv'});
        */
    }   
    
            
});
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47497883-1', 'lahacks.com');
  ga('send', 'pageview');
</script>

</body>
</html>
